<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cluckr</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/master.css" />

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body></body>
</html>

<!-- I am aware that the closing body tags and html tags should not be here, as they go in the footer. -->
<!-- This seems to be an issue with the 'prettier' extension, a common issue upon googling. It's been like this in all -->
<!-- of my express projects and they still work so I hope that this will not change anything. -->
